@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  flex-flow: column;
}

.content{
  display: flex;
  flex-direction: row;
}
.banner{
  text-align: left;
  padding: 20px;

  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: white;

}

nav{
  list-style-type: none;
  padding: 10px;
  display: inline-block;
  border-right: solid;
  border-right-width: 1px;
  border-color: white;

  height: 50vh;
}

